_build
**/*DS_Store

##Carpeta de los archivos temporales
.tmp.drivedownload/
.tmp.driveupload/
##Ejecutables de Windows y Linux 
*.exe
*.out
*.x
*.o
##Archivos de los datos
*.dat
#*.csv
#*.pdf
*.o
*.x
*.xlsx

##Carpetas
Parciales
Talleres




