_build
**/*DS_Store

##Carpeta de los archivos temporales
.tmp.drivedownload/
.tmp.driveupload/
##Ejecutables de Windows y Linux 
*.exe
*.out
*.x
*.o
##Archivos de los datos
*.dat
#*.csv
#*.pdf
*.o
*.x
##Carpetas
*.xlsx

##Codigo con fuentes
*Parciales
Proyecto Final/Codigo/Analisis de Datos/Datos/wrf2024-01-22
Proyecto Final/Codigo/Analisis de Datos/HDF5
Proyecto Final/Codigo/Analisis de Datos/netCDF4
Taller